/* .wrapper {
  width: 799px;
  height: 212px;
  margin-top: 29px;
  margin-left: 327px;
  display: flex;
  align-items: center;
} */
.wrapper {
  height: 212px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-top: 30px;
}
/* .content {
  width: 556px;
  height: 100px;
  flex-shrink: 0;
}
.content1 {
  color: var(--color-white);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-left: 41px;
  padding-right: 41px;
}
.content2 {
  color: var(--color-white);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 4px;
  padding-left: 5px;
}
.image {
  width: 212px;
  height: 212px;
  flex-shrink: 0;
} */
